/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h1 {
  font-size: 4.1rem;
}
@media (max-width: 50.0rem) {
  h1 {
    font-size: 3.7rem;
  }
}
h2 {
  font-size: 3.2rem;
}
@media (max-width: 50.0rem) {
  h2 {
    font-size: 2.8rem;
  }
}
h3 {
  font-size: 2.8rem;
}
@media (max-width: 50.0rem) {
  h3 {
    font-size: 2.4rem;
  }
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 50.0rem) {
  .container {
    max-width: 50rem;
  }
}
.topNav {
  width: 100%;
  background-color: #f4f4f4;
  margin: 0rem auto;
  padding: 1.5rem 0;
  text-align: center;
  position: fixed;
  top: 0;
  opacity: 0.7;
}
.topNav .subNav {
  max-width: 45rem;
  margin: 0rem auto;
  padding-top: 1.5rem;
  display: flex;
  font-size: 1.6rem;
  justify-content: space-evenly;
}
.topNav a {
  text-decoration: none;
  color: #454A59;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 50.0rem) {
  footer {
    border-radius: 0px;
  }
}
.home {
  margin-top: 10rem;
}
.home .intro .headerImg {
  border-radius: 0.5rem;
}
@media (max-width: 50.0rem) {
  .home .intro .headerImg {
    height: 50%;
    width: 100%;
    border-radius: 0.5rem;
  }
}
.home .intro h2 {
  padding: 1.5rem;
}
@media (max-width: 50.0rem) {
  .home .intro h2 {
    padding: 1.5rem 2rem;
  }
}
.home .intro p {
  padding: 0rem 1.5rem;
}
@media (max-width: 50.0rem) {
  .home .intro p {
    padding: 0rem 2rem;
  }
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images img {
  width: 28%;
  margin: 2rem 2.5%;
  border-radius: 2rem;
  height: 100%;
}
@media (max-width: 50.0rem) {
  .home .space-images img {
    width: 100%;
    margin: 2rem;
  }
  .home .space-images .sky {
    display: none;
  }
  .home .space-images .launch {
    display: none;
  }
}
.home .visit-planets {
  padding: 1.5rem;
}
@media (max-width: 50.0rem) {
  .home .visit-planets {
    padding: 1.5rem 2rem;
  }
}
.home .visit-planets h3 {
  margin-top: 1.1rem;
}
.home .visit-planets p {
  margin-top: 1.3rem;
}
.home .walk {
  margin-top: 6rem;
  border-top: 0.1rem solid #dee2e6;
  padding: 5rem 6rem;
  display: flex;
  justify-content: center;
}
.home .walk .walk-text {
  width: 50%;
}
.home .walk .walk-text h3 {
  margin-bottom: 1rem;
}
.home .walk .walk-text p {
  margin-bottom: 2.6rem;
}
.home .walk .btn {
  background-color: #22283A;
  color: #F6F7F8;
  border-radius: 0.5rem;
  padding: 0.7rem 1.2rem;
  text-align: center;
  font-size: 2rem;
  width: 30%;
}
.home .walk .btn a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
@media (max-width: 50.0rem) {
  .home .walk .btn {
    width: 100%;
    padding: 2.5rem;
  }
}
.home .walk .btn:hover {
  color: #22283A;
  background-color: #F6F7F8;
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
@media (max-width: 50.0rem) {
  .home .walk {
    margin: 2rem;
    padding: 1.5rem 0rem 0rem 0rem;
    flex-direction: column-reverse;
  }
  .home .walk .walk-text {
    width: 100%;
  }
  .home .walk .walk-img {
    width: 100%;
    margin: 0rem 0rem 2rem 0rem;
  }
}
